@media only screen and (max-width: 400px) {
    body {
      background-color: blue;
    }
}
  
a {
    color: aqua;
}

h1 {
    font-family: Comic Sans MS;
}

h3:hover {
    background-color: blueviolet;
}

table, th, td {
    border: 1px solid black;
}

.highlight {
    background-color: salmon;
}

#animalsList {
    font-family: Georgia;
    color: green;
}